@import './shared/styles/variables.scss';

.m-1 {
    margin: 0.5%
}

.p-1 {
    padding: 1%;
}

.layout-min-height {
    min-height: 100vh;
}

.h-100 {
    height: 100%;
}

.data-chart {
    height: unset;
}

.padding-items {
    padding: 0.3rem
}

.padding-items-row {
    padding-left: 1rem;
    padding-right: 1rem;
}

.item-name-text {
    font-size: small;
    font-weight: 100;
}

.item-count-text {
    font-size: xx-large;
    font-weight: 700;
    margin-top: 0.7rem;
}

.d-flex {
    display: flex !important;
}

.justify-content-end{
    justify-content: flex-end;
}

.iconz-container{
    max-width: 3rem;
}

.bg-none,
.ant-layout-sider-trigger {
    background: none !important;
}

.logo-container{
    height: 4rem;
}

.justify-content-between {
    justify-content: space-between;
}

.stat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.9rem;
}

.red-text {
    color: #f50f0fec;
    font-weight: 600;
}

.green-text {
    color: #07eb39e7;
    font-weight: 600;
}

.profit {
    font-size: xx-large;
    font-weight: 700;
    margin-top: 1.5rem;
}

.mt-1 {
    margin-top: 1rem;
}

.pr-1 {
    padding-right: 1rem !important;
}

.value-rouned {
    font-size: 8px;
    margin-bottom: 0;
    margin-top: 7px;
}

.profit-growth {
    padding-top: 1.5rem;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.fourth-section-item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.icon-width-height {
    width: 3rem !important;
    height: 3rem !important;
}

.w-20 {
    width: 20%;
}

.recharts-responsive-container {
    min-height: 15rem;
}

.pt-15 {
    padding-top: 1.5rem;
}

.pl-13 {
    padding-left: 1.3rem;
}

.recharts-default-legend {
    display: none;
}

.right-fourth-section-icon {
    font-size: 20px !important;
    color: #bdbaba7a;
}

.ant-table-thead>tr>th {
    border-right: none;
    background: none !important;
}

/* Hide vertical lines in the table body */
.ant-table-tbody>tr>td {
    border-right: none;
    background: none !important
}

:where(.css-dev-only-do-not-override-1hx3b35).ant-table-wrapper .ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before,
:where(.css-dev-only-do-not-override-1hx3b35).ant-table-wrapper .ant-table-thead>tr>td:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    width: 0px !important;
    background: none !important
}

:where(.css-dev-only-do-not-override-1hx3b35).ant-table-wrapper .ant-table-thead>tr>th,
:where(.css-dev-only-do-not-override-1hx3b35).ant-table-wrapper .ant-table-thead>tr>td {
    background: #ffffff00 !important;
    background: none !important
}

.img {
    border-radius: 50%;
}

// scroll
/* Base class for custom scrollbar styles */
.scrollbar-styles {
    overflow-y: scroll;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #888 #333; /* For Firefox */
}

/* Webkit-based browsers */
.scrollbar-styles::-webkit-scrollbar {
    width: 12px; /* Width of the entire scrollbar */
}

.scrollbar-styles::-webkit-scrollbar-track {
    background: #333; /* Track color */
}

.scrollbar-styles::-webkit-scrollbar-thumb {
    background-color: #888; /* Scrollbar thumb color */
    border-radius: 10px; /* Roundness of the scroll thumb */
    border: 3px solid #333; /* Padding around thumb */
}

.scrollbar-styles::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Thumb color on hover */
}

/* Main container styles */
.main-container {
    max-height: calc(100vh - 10rem);
    overflow-y: scroll;
    @extend .scrollbar-styles;
}


/* Custom scroll class with height */
.custom-scroll {
    height: 21rem;
    /* Other styles */
    @extend .scrollbar-styles;
}

// ===================================

.pb-04{
    padding-bottom: 0.4rem;
}

.mb-0{
    margin-bottom: 0;
}

.search-container{
    height: 50%;
}   

.justify-content-between{
    justify-content: space-between;
}

.account-items{
    width: 35% !important;
}

.round-icons {
    /* padding: 10px; */
    background-color: #888;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

:where(.css-dev-only-do-not-override-1pg9a38).ant-menu-dark .ant-menu-item-selected, :where(.css-dev-only-do-not-override-1pg9a38).ant-menu-dark>.ant-menu .ant-menu-item-selected {
    background-color: none !important;
    border-left: #1677ff 4px solid;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important; 
    color: #1677ff;
}

.tag-styel{
    padding: 0.5rem !important;
    border-radius: 20px;
    width: fit-content;
}
